body {
  font-family: Arial, sans-serif;
  background-image: url("img1.jpg"); /* Adăugați calea către imaginea de fundal dorită */
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
}

#header {
  background-color: rgba(
    0,
    123,
    255,
    0.8
  ); /* Folosim o culoare semi-transparentă pentru a permite vizualizarea imaginii de fundal */
  color: #fff;
  padding: 20px;
  text-align: center;
}

#header h2 {
  margin: 0;
}

#header button {
  background-color: #0056b3;
  color: #f10707;
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#header button:hover {
  background-color: #08d112;
}

#addShiftForm,
#shiftsTable {
  background-color: rgba(
    9,
    251,
    53,
    0.8
  ); /* Folosim o culoare semi-transparentă pentru a permite vizualizarea imaginii de fundal */
  padding: 20px;
  margin: 20px auto;
  width: 80%;
  max-width: 600px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#addShiftForm h3,
#shiftsTable h3 {
  margin-top: 0;
}

#addShiftForm input,
#addShiftForm button,
#shiftsTable button {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #d41515;
  border-radius: 5px;
}

#shiftsTable button {
  background-color: #00a2ff;
  color: #f80000;
}

#shiftsTable button:hover {
  background-color: #0080b3;
}

#loader {
  width: 100%;
  height: 20px;
  background-color: #ccc;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

#loader::after {
  content: "Hello";
  display: block;
  width: 100px;
  height: 100%;
  background-color: #007bff;
  position: absolute;
  animation: loading 48s infinite;
  color: white;
  text-align: center;
  line-height: 20px;
}

@keyframes loading {
  0% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(90rem);
  }
  100% {
    transform: translateX(1%);
  }
}

@media only screen and (max-width: 768px) {
  #loader {
    width: 70%;
  }
  #addShiftForm,
  #shiftsTable {
    width: 70%;
  }
}

@media only screen and (max-width: 480px) {
  #loader {
    width: 80%;
  }
  #addShiftForm,
  #shiftsTable {
    width: 80%;
  }
}

.save {
  animation: wiggle 2s linear infinite;
}

/* Keyframes */
@keyframes wiggle {
  0%,
  7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%,
  100% {
    transform: rotateZ(0);
  }
}
.save {
  position: absolute;
  left: calc(50% - 3em);
  top: calc(50% - 2em);
  height: 4em;
  width: 7em;
  background: #444;
  background: linear-gradient(top, #555, #333);
  border: none;
  border-top: 3px solid orange;
  border-radius: 0 0 0.2em 0.2em;
  color: #fff;
  font-family: Helvetica, Arial, Sans-serif;
  font-size: 1em;
  transform-origin: 50% 5em;
}

.save.hide {
  display: none;
}

#currentDateTime {
  font-family: Arial, sans-serif;

  color: #333; 
  background-color: #f0f0f0; 
  padding: 1px; 
border-radius: 20%;
  margin-top: 10px; 
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  display: inline-block;
  margin-left: 35%;
}
