body {
  font-family: Arial, sans-serif;
  background-color: #0be1fd;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form {
  background-color: #0af535;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 30%;
}

input[type="email"],
input[type="password"],
button[type="submit"] {
  display: block;
  width: 90%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #4507ff;
  border-radius: 5px;
}

button[type="submit"] {
  background-color: #e9d011;
  color: #f10f0f;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

#errorMessage {
  margin-top: 10px;
  font-size: 14px;
  text-align: center;
}

#loader {
  width: 100%; /* Face bara de încărcare să ocupe întreaga lățime a ecranului */
  height: 20px;
  background-color: #ccc;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

#loader::after {
  content: '';
  display: block;
  width: 200%; 
  height: 100%;
  background-color: #007bff; 
  position: absolute;
  animation: loading 2s infinite; 
}

@keyframes loading {
  0% {
      left: -100%; /* Începe din afara ecranului la stânga */
  }
  100% {
      left: 100%; /* Se oprește la capătul ecranului la dreapta */
  }
}

@media only screen and (max-width: 768px) {
  #loader {
      width: 70%;
  }
}

@media only screen and (max-width: 480px) {
  #loader {
      width: 80%;
  }
}



@media only screen and (max-width: 950px) {
    form {
      width: 70%;
    }
  }
@media only screen and (max-width: 760px) {
    form {
      width: 80%;
    }
  }
  
  @media only screen and (max-width: 480px) {
    form {
      width: 90%;
    }
  }
  @media only screen and (max-width: 750px) {
    .custom-message {
      margin-left: 10%; 
      top: 10%; 
      font-size: 14px; 
    }
  }
  @media only screen and (max-width: 450px) {
    .custom-message {
     
      top: 10%; 
      font-size: 14px; 
    }
  }