body {
  font-family: Arial, sans-serif;
  background-image: url('albastru.jpg');
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form {
  background-color: rgba(255, 255, 255, 0.8); 
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  width: 50%;
  animation: fadeIn 1s ease;
}

input[type="email"],
input[type="password"],
button[type="submit"] {
  display: block;
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button[type="submit"]:hover {
  background-color: #0056b3;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
}

.custom-message {
  margin-left: 33%;
  color: #fff;
  background-color: #007bff;
  padding: 10px;
  border-radius: 15px;
  position: fixed;
  top: 10%;
  left: 20px;
  animation: moveMessage 6s linear infinite alternate;
}

@keyframes moveMessage {
  from {
    transform: translateX(240%);
  }
  to {
    transform: translateX(1%);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media only screen and (max-width: 950px) {
  form {
    width: 60%;
  }
}

@media only screen and (max-width: 760px) {
  form {
    width: 70%;
  }
}

@media only screen and (max-width: 480px) {
  form {
    width: 80%;
  }
}

@media only screen and (max-width: 750px) {
  .custom-message {
    margin-left: 10%;
    top: 5%;
    font-size: 14px;
  }
}

@media only screen and (max-width: 450px) {
  .custom-message {
    top: 5%;
    font-size: 14px;
  }
}