@import url(global.css);

table {
  border-collapse: collapse;
  width: 100%;
}
th,
td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
th {
  background-color: #f2f2f2;
}

.tabel {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* Așează elementele într-o singură coloană */
  margin-top: 110px;
}

.btn-favorite {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 30px;
  color: #ccc; /* culoare gri */
}

.btn-favorite.active {
  color: yellow; /* culoare galbenă */
}

.btn-delete {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: black;
}

.btn-delete:hover {
  color: red; /* culoare roșie la hover */
}

#propertiesTable {
  display: none;
}

/* Media queries for responsive design */
@media only screen and (max-width: 786px) {
  table {
    font-size: 10px; /* Text mai mic pentru ecrane mai mici */
  }

  th,
  td {
    padding: 2px; /* Spațiere și mai mică între celulele tabelului */
  }
  .btn-favorite {
    font-size: 20px;
  }
  .btn-delete {
    font-size: 10px;
  }
}

@media only screen and (max-width: 540px) {
  .register-container,
  .login-container {
    width: 100%;
    padding: 0 20px; /* Adjust padding for smaller screens */
  }

  .register-container .two-forms {
    flex-direction: column; /* Stack form fields vertically on smaller screens */
    gap: 0; /* Remove gap between form fields */
  }
  table {
    margin-top: 20px;
    font-size: 8px; /* Text chiar mai mic pentru ecrane foarte mici */
  }

  th,
  td {
    padding: 1px; /* Spațiere și mai mică între celulele tabelului */
  }

  .btn-favorite {
    font-size: 15px;
  }
  .btn-delete {
    font-size: 10px;
  }
}
