* {
    box-sizing: border-box;
  }
  
  .frame {
    width: 100%;
    background-color: white;
    padding: 5px;
    margin-top: 20px;
  }
  
  
  .frame img {
    background-color: #aaa;
    padding: 20px;
    margin-top: 10px;
  }
  
  
  