.table {
  border-collapse: collapse;
  border: 1px solid #000; 
  width: 50%; 
  margin: 0 auto;
    
                 
  }
  
  th, td {
    border: 1px solid #000; 
    padding: 10px; 
    text-align: center;}

    tr:nth-child(odd) {
      background-color: blue;}