.blue-title {
    color: blue;
    text-decoration: underline;
    text-transform: capitalize;
    text-align: center;
    letter-spacing: 3px;
    text-shadow: 3px 3px orange;
}
.black-paragraph {
    color: black;
    word-spacing: -3px;
    text-indent: 75px;
    width: 300px;}