.solid-border {
    border: 1px solid black;
    margin-left: 50px;
    width: 200px;
    height: 100px;
}

.rounded-border {
    border: 8px groove red;
    margin: auto;
    width: fit-content;
    padding: 10px;}
    
    .dotted-border {
        border: 5px dotted black;
        margin-left: inherit;
        margin-top: 8px;
        width: 300px;
        padding: 10px;
    }