/* Import the Poppins font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* Reset global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif; /* Set the default font */
}

/* Styles for the entire body */
body {
    background: url("1.jpg"); /* Set background image */
    background-size: cover; /* Ensure full coverage */
    background-repeat: no-repeat; /* Prevent image from repeating */
    background-attachment: fixed; /* Fix the background image */
    overflow: hidden; /* Hide overflow to avoid scrolling */
}

/* Styles for labels */
label {
    color: #fff; /* Set text color to white */
}

/* Wrapper for centering */
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 110vh; /* Set minimum wrapper height to 110 viewport heights */
    background: rgba(39, 39, 39, 0.4); /* Semi-transparent background */
}

/* Styles for the navigation bar */
.nav {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 100px;
    line-height: 100px;
    background: linear-gradient(rgba(39, 39, 39, 0.6), transparent); /* Apply gradient background */
    z-index: 100; /* Ensure display above other elements */
}

/* Navigation logo */
.nav-logo p {
    color: white;
    font-size: 25px;
    font-weight: 600;
}

/* Navigation menu */
.nav-menu ul {
    display: flex;
}

.nav-menu ul li {
    list-style-type: none;
}

.nav-menu ul li .link {
    text-decoration: none;
    font-weight: 500;
    color: #fff;
    padding-bottom: 15px;
    margin: 0 25px;
}

/* Styles for links in the menu */
.link:hover, .active {
    border-bottom: 2px solid #fff; /* Add underline effect on hover or when active */
}

/* Button for sign in and sign up */
.nav-button .btn {
    width: 130px;
    height: 40px;
    font-weight: 500;
    background: rgba(255, 255, 255, 0.4); /* Semi-transparent background */
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: .3s ease; /* Add transition effect */
}

.btn:hover {
    background: rgba(255, 255, 255, 0.3); /* Semi-transparent background on hover */
}

/* Styles for the registration button */
#registerBtn {
    margin-left: 15px;
}

/* Styles for white buttons */
.btn.white-btn {
    background: rgba(255, 255, 255, 0.7); /* Semi-transparent background */
}

.btn.btn.white-btn:hover {
    background: rgba(255, 255, 255, 0.5); /* Semi-transparent background on hover */
}

/* Styles for the navigation menu button */
.nav-menu-btn {
    display: none;
    cursor: pointer;
}

.modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    padding: 10%; 
}

.form-container {
    display: none; /* Ascunde elementul */
}
.profile-container{
    display: none;
}
.container{
    color: #fafafa;
    
}
.profile{
    color: #fafafa;
}
.back-container{
    display: none; /* Ascunde elementul */
}
.containerSee{color: #fafafa;}



/* Media queries for responsive design */
@media only screen and (max-width: 786px) {
    .nav-button {
        display: none; /* Hide navigation buttons */
    }

    .nav-menu.responsive {
        top: 100px; /* Adjust menu position */
    }

    .nav-menu {
        position: absolute;
        top: -800px; /* Move menu off-screen */
        display: flex;
        justify-content: center;
        background: rgba(255, 255, 255, 0.2); /* Semi-transparent background */
        width: 100%;
        height: 90vh; /* Set menu height to 90% of viewport height */
        backdrop-filter: blur(20px); /* Apply backdrop blur effect */
        transition: .3s; /* Add transition effect */
    }

    .nav-menu ul {
        flex-direction: column;
        text-align: center; /* Center align menu items */
    }

    .nav-menu-btn {
        display: block; /* Show menu button */
    }

    .nav-menu-btn i {
        font-size: 25px;
        color: #fff; /* White icon color */
        padding: 10px;
        background: rgba(255, 255, 255, 0.2); /* Semi-transparent background */
        border-radius: 50%;
        cursor: pointer;
        transition: .3s; /* Add transition effect */
    }

    .nav-menu-btn i:hover {
        background: rgba(255, 255, 255, 0.15); /* Lighten background on hover */
    }
}

@media only screen and (max-width: 540px) {
    .wrapper {
        min-height: 100vh; /* Adjust wrapper height for smaller screens */
    }

    .form-box {
        width: 100%;
        height: 500px; /* Set form box height for smaller screens */
    }

    .register-container, .login-container {
        width: 100%;
        padding: 0 20px; /* Adjust padding for smaller screens */
    }

    .register-container .two-forms {
        flex-direction: column; /* Stack form fields vertically on smaller screens */
        gap: 0; /* Remove gap between form fields */
    }
}




























