@import "butoanemici.css";
@import "nav.css";

body {
  background-image: url(background-home-desktop.jpg);

  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Playpen Sans", cursive;
  margin: 0;
  padding: 0;
}
.text {
  display: flex;
}
.continut {
  display: flex;
  flex-direction: column;
  align-items: start;
  color: aliceblue;
  text-transform: uppercase;
}

.text1 {
  font-size: 18px;
  text-decoration: dotted;
  margin-top: 10%;
  margin-left: 10%;
}
.text2 {
  font-size: 120px;
  margin-top: 1px;
  margin-left: 10%;
}
.paragraf {
  width: 37%;
  text-transform: none;
  font-size: 14px;
  margin-top: 1px;
  margin-left: 10%;
}

.my-button {
  display: flex;
  align-items: end;
  margin-top: 10%;
  margin-right: 17%;
  background-color: aliceblue;
  color: black;
  width: 250px;
  height: 220px;
  border-radius: 88%;
  justify-content: center;
  align-items: center;
}
.my-button p {
  font-size: 2rem;
  text-transform: uppercase;
  color: black;
}
.my-button:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 0 0 3px 50px;
  transition: box-shadow 0.6 ease-in-out;
}

@media (max-width: 850px) {
  .transparent {
    display: block;
    width: 40%;
  }
  .nav li {
    margin-left: 10px;
  }
  .nav a {
    text-wrap: nowrap;
  }
  .Home {
    font-size: 10px;
  }
  .Destination {
    font-size: 10px;
  }
  .Crew {
    font-size: 10px;
  }
  .Technology {
    font-size: 10px;
  }

  .line {
    display: none;
  }
  .text {
    flex-direction: column;
    margin-left: 5%;
    width: 90%;
    align-items: center;
  }
  body {
    background-image: url(background-home-tablet.jpg);
    height: 100vh;
  }
  .continut {
    align-items: center;
  }
  .my-button {
    margin-right: 0;
  }
}

@media (max-width: 550px) {
  .transparent {
    display: none;
  }
  .nav {
    display: none;
  }
  .nav li {
    display: none;
  }
  .line {
    display: none;
  }
  .text {
    flex-direction: column;
    margin-left: 5%;
    width: 90%;
    align-items: center;
  }
  body {
    background-image: url(background-home-mobile.jpg);
    height: 100vh;
  }
  .continut {
    align-items: center;
  }
  .my-button {
    margin-right: 0;
  }
}
