
    @import "butoanemici.css";
    @import "nav.css";
    
    
    body
    { 
    background-image: url(background-home-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Playpen Sans', cursive;
    margin: 0;
    padding: 0;
    
    
    }
    .text{
        display: flex;
    }
     .continut
     {
    display: flex;
    flex-direction: column;
    align-items: start;
    color: aliceblue;
    text-transform: uppercase;
    margin-left: 10%;
    margin-top: 10%;
    }
    
   .text1
    { 
    font-size: 18px;
    text-decoration: dotted;
    
    }
    .text2
    {
    font-size: 120px;
    
    }
     .paragraf
    {
        
    width: 37%;
    text-transform: none;
    font-size: 14px;
    
    
    }
    
    .my-button
    {
    display: flex;
    align-items: end;
    margin-top: 17%;
    margin-right: 17%;
    background-color: aliceblue;
    color: black;
    width: 250px;
    height: 250px;
    border-radius: 80%;
    justify-content: center;
    align-items: center;
    
    }
    .my-button p 
    { 
    font-size: 2rem;
    text-transform: uppercase;
    color: black;
    
    }
    .my-button:hover
    { 
    box-shadow: rgba(0, 0, 0, 0.3)0 0 3px 50px;
    transition: box-shadow 0.6 ease-in-out;
    }
   
    

    @media  (max-width: 550px) {
        .transparent{
            display: none;
        }
        .nav {
            display: none;
        }
        .nav li {
            display: none;
        }
        .line{
            display: none;
        }
        .text {
            margin-left: 5%;
            width: 90%;
        }
        /* .my-button {
            width: 150px;
            height: 150px;
            margin-left: 0;
            margin-top: 5%;
        } */
        /* .white-button{
            display: block;
        }
         */
    }
   
    