
@import "butoanemici.css";
@import "nav.css";


body
{ 
background-image: url(background-destination-desktop.jpg);
background-repeat: no-repeat;
background-size: cover;
font-family: 'Playpen Sans', cursive;
margin: 0;
padding: 0;
position: relative;
}



   
    .pick {
        color: aliceblue;
    float: left;
    text-transform: uppercase;
    margin-left: 17%;
    margin-top: 3%;
    width: 32%;
    }
    .pick img {
        margin-top: 10%; 
        max-width: 100%;
        margin-left: -120px; 

        
      }
     
      
     
  
     .nav2 {
        list-style: none;  
        display: flex; 
        justify-content: flex-end;
        padding: 10px;
        
      }
      
      .nav2 li {
       margin-right: 20%;
       margin-left: 13px;
    margin-top:2%;
    width: 10%;
      }
      
      .nav2 a {
        
        color: white; 
      }
          
      .Moon        { height: 45px; }
    .Moon:hover  { border-bottom: 2px solid white;}

    .Mars       {height: 45px;}
    .Mars:hover  { border-bottom: 2px solid white;}

    .Europa        { height: 45px;}
    .Europa:hover   { border-bottom: 2px solid white;}

    .Titan        {height: 45px;}
    .Titan:hover  { border-bottom: 2px solid white;}
      
    .text2{
        margin-top: -4%;
    }

    .line2
    {
    display: flex;
    width: 737px;
    height: 1px;
    background-color: grey;
    z-index: 2;
    margin-top: 1%;
    margin-left: 50%;
    position: absolute;
    
    }


    .avg{
        display: flex;
        margin-top: 3%;
    }
    
    
    
        .avg p{
    
            width: 200px;
            color:white;
            font-size: 14px;
            font-weight: 400;
            letter-spacing: 2.362;
            text-transform: uppercase;
        }
        .avg span{
           
            width: 200px;
            color:white;
            font-size: 14px;
            font-weight: 400;
            letter-spacing: 2.362;
            text-transform: uppercase;
        }

   
        @media  (max-width: 850px) {
            .transparent{
                display: block;
                width: 40%; }
            .nav li{ margin-left:10px;}
            .nav a{text-wrap: nowrap;}
            .Home{font-size: 10px;}
            .Destination{font-size: 10px;}
            .Crew{font-size: 10px;}
            .Technology{font-size: 10px;}
            .line{display: none;}
            .text {
                flex-direction: column;
                margin-left: 5%;
                width: 90%;
                align-items: center}
            body{
                background-image: url( background-destination-tablet.jpg);
                height: 100vh; }
            .continut{
                align-items: center }
            .my-button{
                margin-right: 0;}
                .complet{
                    flex-direction: row;
                }
        }

       
        @media  (max-width: 550px)  {
            .transparent{
                display: none;
            }
            .nav {
                display: none;
            }
            .nav li {
                display: none;
            }
            .line{
                display: none;
            }
            .text {
                flex-direction: column;
                margin-left: 5%;
                width: 90%;
                align-items: center
            }
            body{
                background-image: url(background-destination-mobile.jpg);
                height: 100vh;
            }
            .continut{
                align-items: center
            }
            .my-button{
                margin-right: 0;
            }
        }
      
      
      
      
      
    