@import "butoanemici.css";
@import "nav.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

body {
  background-image: url(background-destination-desktop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Playpen Sans";
}
.mare {
  display: flex;
  justify-content: space-between;
  margin-left: 6%;
}

.pick {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.text1 {
  margin-top: 15%;
  color: aliceblue;
  color: #fff;
  font-family: Barlow Condensed;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 4.725px;
  text-transform: uppercase;
}
.pick img {
  margin-top: 15%;
  width: 378px;
  height: 378px;
  flex-shrink: 0;
  margin-left: 45%;
}
.complet {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 6%;
  width: 445px;
  height: 472px;
  flex-shrink: 0;
  margin-right: 10%;
  justify-content: space-around;
}
.nav2 {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  padding: 10px;
}
.nav2 li {
  margin-right: 10%;

  margin-top: 2%;
}

.nav2 a {
  color: white;
}

.Moon {
  height: 45px;
}
.Moon:hover {
  border-bottom: 2px solid white;
}

.Mars {
  height: 45px;
}
.Mars:hover {
  border-bottom: 2px solid white;
}

.Europa {
  height: 45px;
}
.Europa:hover {
  border-bottom: 2px solid white;
}

.Titan {
  height: 45px;
}
.Titan:hover {
  border-bottom: 2px solid white;
}

.line2 {
  display: flex;
  height: 1px;
  background-color: rgb(240, 234, 234);
  z-index: 2;
  margin-top: 1%;
  width: 444px;
  height: 1px;
  flex-shrink: 0;
}
.avg {
  display: flex;
  margin-top: 3%;
}

.avg p {
  width: 200px;
  color: white;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 2.362;
  text-transform: uppercase;
}
.avg span {
  width: 200px;
  color: white;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 2.362;
  text-transform: uppercase;
}

@media (max-width: 850px) {
  .transparent {
    display: block;
    width: 40%;
  }
  .nav li {
    margin-left: 10px;
  }
  .nav a {
    text-wrap: nowrap;
  }
  .Home {
    font-size: 10px;
  }
  .Destination {
    font-size: 10px;
  }
  .Crew {
    font-size: 10px;
  }
  .Technology {
    font-size: 10px;
  }
  .line {
    display: none;
  }
  .text {
    flex-direction: column;
    margin-left: 5%;
    width: 90%;
    align-items: center;
  }
  body {
    background-image: url(background-destination-tablet.jpg);
    height: 100vh;
  }

  .mare {
    flex-direction: column;
  }
  .pick {
    width: 55%;
    margin-left: 10%;
  }
  .text1 {
    font-size: 16px;
  }
  .pick img {
    margin-top: 3%;
    width: 257px;
    height: 257px;
  }
  .complet {
    display: flex;
    align-content: center;
    margin-left: 32%;
    margin-top: 1%;
  }
  .text2 {
    margin-top: 1px;
  }
}

@media (max-width: 550px) {
  .transparent {
    display: none;
  }
  .nav {
    display: none;
  }
  .nav li {
    display: none;
  }
  .line {
    display: none;
  }
  .text {
    flex-direction: column;
    margin-left: 5%;
    width: 90%;
    align-items: center;
  }
  body {
    background-image: url(background-destination-mobile.jpg);
    height: 100vh;
  }

  .mare {
    flex-direction: column;
  }
  .pick {
    width: 55%;
    margin-left: 1%;
  }
  .text1 {
    font-size: 10px;
  }
  .pick img {
    margin-top: 3%;
    width: 157px;
    height: 157px;
  }
  .complet {
    display: flex;
    align-content: center;
    margin-left: 12%;
    margin-top: 1%;
  }
  .text2 {
    margin-top: 1px;
  }
}
