/* .div {
    width: 50%;
    text-align: center;
    border: 1px solid blue;
    padding: 10px;
    margin: 0 auto;
    
} */
/* 
.bar {
    background-color: #000;
    overflow: hidden;
    font-family: Arial, sans-serif;}
   
 .bar a {
        float: left;
        display: block;
        color: white;
        text-align: center;
        padding: 10px;
        text-decoration: none;}

        .header {
            background-color: rgb(122, 89, 156);
            text-align: center;
            padding: 30px;
        } */

/*         
        body {
            margin: 0;
            padding: 0;
            background-repeat: repeat-y;
            background-size: auto;
            background-attachment: fixed;
            background-image: url('a1.webp'); 
    background-repeat: repeat-y;
     width: 50px;
     height: 50px;
        }

        .h1 {
            text-align: center;
            color: blue;
            padding: 20px;
        } */
        
        /* h2 {
            color: rgb(122, 89, 156);
        }
        
        h5 {
            color: rgb(122, 165, 226);
        }
        
        .header {
            font-size: 50px;
        }

        
        footer {
            display: block;
            width: 100%;
            float: left;
            padding: 20px;
            text-align: center;
            background-color: #ddd;
          }
         */
         /* .a {
            border: 2px solid gray;
            margin: 10px;
            padding: 15px;
            background-color: brown;
            
          }
          
          article {
            line-height: 1.6;
            font-family: 'Times New Roman', serif;
          }
          h2
          {
            color: aquamarine;
          }
          p{color: blue;
        width: 100px;
        height: auto;
        
        } */


        /* .custom {
            padding: 10px 20px;
            border: none;
            cursor: pointer;
            border-radius: 5px;
            font-size: 16px;
            margin: 5px;
          }
        
          .b1 {
            background-color: green;
            color: white;
          }
        
          .b2 {
            background-color: blue;
            color: yellow;
          }
        
          .b3 {
            background-color: red;
            color: black;} */

            .custom-input {
                border: 1px solid black;
                padding: 10px;
                width: 100%;
              }
            
              
              .custom-button {
                background-color: purple;
                color: white;
                border: none;
                padding: 10px 20px;
                cursor: pointer;}