
.a
{
    width: 200px;
    height: 100px;
    background-color: blue;
    position: relative;

}
.b
{
    position: absolute;
    background-color: blueviolet;
    top: 40px;
    left: 40px;
}
.c
{
position: absolute;
background-color: yellow;
top: 90px;
left: 90px;
display: none;

}