

.navbarcontainer{
    display: flex;
    display: flow-root;
}
 .logo
 { 
    
        display: flex;
        justify-content: flex-start; 
        /* align-items: center;  */
        margin-top: 5%;
      
}

   .line
{
display: flex;

justify-content: center;

align-items: center;

width: 477px;
height: 1px;
background-color: rgb(242, 4, 4);
z-index: 2;
margin-top: -2%;
margin-left: 5%;
position: absolute;

}
.blur {
    display: flex;

    justify-content: flex-end; 

    align-items: flex-end;

    background-color: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(20.774227142333984px);
    margin-top: -2;

  }
  
  .nav {
     
    display: flex; 

    margin-top: -3%;
    
    gap: 10px; 
    list-style: none;

  }
  .nav li {
    
    list-style-type: none;
    font-size: larger;
    text-transform: uppercase;

  }
a
{ 
color: rgb(1, 126, 236);
text-decoration: none;
}
 .Home        { height: 45px; }
 .Home:hover  { border-bottom: 2px solid white;}

 .Destination        {height: 45px;}
 .Destination:hover  { border-bottom: 2px solid white;}

 .Crew         { height: 45px;}
 .Crew:hover   { border-bottom: 2px solid white;}

 .Technology        {height: 45px;}
 .Technology:hover  { border-bottom: 2px solid white;}
